body {
  background-color: whitesmoke;
}
.waterways {
  fill: none;
  stroke: steelblue;
  
}
.stream {
  stroke: darkblue;
}
.ditch {
  opacity: 0.6;
}
.drain {
  opacity: 0.3;
}
.roads  {
  opacity: 0.1;
  stroke: darkred;
  fill: none;
}
.cycleway {
  fill: none;
  stroke: darkgreen;
  opacity: 1;
}
.residential {
  fill: none;
  stroke: crimson;
  opacity: 1;
}
.places {
  fill: chocolate;
  opacity: 0.8;
}
.rivers {
  fill: none;
  stroke: steelblue;
  
}
.arc path {
  stroke: #fff;
}
.hidden {
display: none;
}
.graticule {
  fill: none;
  stroke: #333;
  opacity: 0.4;
}
#indiaState,
#taiwanState,
#indiaCity,
#japanState {
  color: crimson;
}
.india  {
  fill: darkgrey;
  opacity: 0.6;
  stroke: darkred;
}
.india-places  {
  fill: none;
  stroke: blue;
}
.taiwan {
  fill: darkgrey;
  opacity: 0.6;
  stroke: darkred;
}
.japan {
  fill: none;
  /*opacity: 0.6;*/
  stroke: darkred;
  stroke-width: 0.5;
}

.q0-4 { fill:rgb(247,251,255); }
.q1-4 { fill:rgb(158,202,225); }
.q2-4 { fill:rgb(33,113,181); }
.q3-4 { fill:rgb(8,48,107); }

